# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo

# ======================
# Virtual Environments
# ======================
.venv/
venv/
env/

# ======================
# Environment Variables
# ======================
.env
.env.*

# ======================
# IDE / Editor
# ======================
.idea/
.vscode/
*.iml

# ======================
# OS
# ======================
.DS_Store

# ======================
# Logs / Cache
# ======================
*.log
.cache/

# ======================
# LangChain / LLM cache
# ======================
.langchain.db

# vector index (RAG)
faiss_index/
